<div *ngIf="!modalBorrar && categorias && tipos && atributos" class="container">
    <div class="row">
        <h2>Listado de Atributos </h2>
        <button class="col-lg-1" (click)="gotoCreate()"><span class="glyphicon glyphicon-plus"></span></button>
    </div>
    <div class="row">
        <atributo-search class="col-lg-5"></atributo-search>
        <div class="col-lg-5">
            <h4>Filtrar Lista</h4>
            <input #filterBox id="filter-box" (keyup)="filtrar(filterBox.value)" />
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Categor&iacute;a</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let atributo of atributos" (click)="onSelect(atributo)">
                <td>{{atributo.codigo}}</td>
                <td>{{atributo.nombre}}</td>
                <td>{{atributo.tipoVO.nombre}}</td>
                <td>{{atributo.categoriaVO.nombre}}</td>
                <td>
                    <button (click)="gotoDetail(atributo)">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button (click)="gotoModify(atributo)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>                
                    <button (click)="showBorrarModal(atributo); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!(modalBorrar || (categorias && tipos && atributos))" style="position: fixed; margin-top: 40vh; margin-left: 40vw; width: 350px; height: 190px; top: 0; left: 0; display:block;">
    <h3>Cargando datos...</h3>
</div>

<div *ngIf="modalBorrar" style="position: fixed; padding:10px; margin-top: 20vh; margin-left: 35vw; width: 350px; height: 190px; top: 0; left: 0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; border: #333333 3px solid; background-color: #FAFAFA; color: #000000; display:block;">
    <h3>&iquest;Est&aacute; seguro de que desea eliminar el atributo {{atributoBorrar.codigo}}?</h3>
    <button (click)="delete()" style="margin-left: 20px">
        Aceptar
    </button>
    <button (click)="cancelModal()">
        Cancelar
    </button>
</div>