<div *ngIf="categorias && tipos && atributos" class="container">
    <h2>Listado de Atributos <button><span class="glyphicon glyphicon-plus"></span></button></h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Categor&iacute;a</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let atributo of atributos" (click)="onSelect(atributo)">
                <td>{{atributo.codigo}}</td>
                <td>{{atributo.nombre}}</td>
                <td>{{atributo.tipoVO.nombre}}</td>
                <td>{{atributo.categoriaVO.nombre}}</td>
                <td>
                    <button (click)="gotoDetail(atributo)">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button (click)="gotoDetail(atributo)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>                
                    <button (click)="delete(atributo); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>