<div *ngIf="tipos && categorias">
  <h2 *ngIf="atributo">Detalle del atributo {{atributo.codigo}}</h2>
  <h2 *ngIf="!atributo">Nuevo atributo</h2>
    <div>
        <label>C&oacute;digo: </label>
        <input [(ngModel)]="atributo.codigo" placeholder="name" [disabled]="!modificar"/>
      </div>
    <div>
      <label>Nombre: </label>
      <input [(ngModel)]="atributo.nombre" placeholder="name" [disabled]="!modificar"/>
    </div>
    <div>
        <label>Tipo: </label>
        <select [(ngModel)]="atributo.tipoID" [disabled]="!modificar">
            <option *ngFor="let tipo of tipos" [value]="tipo.id">
                {{tipo.nombre}}
            </option>
        </select>
    </div>
    <div>
        <label>Categor&iacute;a: </label>
        <select [(ngModel)]="atributo.categoriaID" [disabled]="!modificar">
            <option *ngFor="let categoria of categorias" [value]="categoria.id">
                {{categoria.nombre}}
            </option>
        </select>
    </div>
  <button (click)="goBack()"><span class="glyphicon glyphicon-chevron-left"></span> Atras</button>
  <button *ngIf="modificar" (click)="save()"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->